/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

body {
  background: "#6948D9" !important;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#pirateStatus {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
}

#pirateStatus.isDanger {
  background: red;
  color: white;
}

#pirateStatus.isPlunder {
  background: green;
  color: white;
}

.alertBanner {
  position: absolute;
  left: 0;
  right: 0;
}
.alertBanner .alertBackground {
  background: repeating-linear-gradient(
    45deg,
    black,
    black 40px,
    yellow 40px,
    yellow 80px
  );
  position: absolute;
  top: 0;
  bottom: 0;
  width: 500%;
  left: 0;
  animation: move 40s linear infinite;
  z-index: 1;
}

.alertBanner .icons {
  animation: blink 1.5s infinite;
  display: flex;
  justify-content: space-between;
  font-size: 8rem;
  padding: 1rem;
  z-index: 10;
  position: relative;
}

.alertBanner.top {
  top: 0;
}

.alertBanner.bottom {
  bottom: 0;
}

@keyframes blink {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

#map {
  height: 60vh;
  width: 100%;
}
.logsection {
  margin-top: 1rem;
}
.shiplog {
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  max-width: 50rem;
}
.shiplog.header {
  font-weight: bold;
}
.shiplog span {
  margin-right: 1rem;
  padding: 0.2rem;
}
.fa-spinner {
  animation: circle 1.2s steps(8) infinite;
  font-size: 2rem;
  margin: 5rem;
}
@keyframes circle {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}
